.home {
  width: 100%;
  position: relative;
}
.home .header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
  display: flex;
  transition: all 600ms;
  flex-direction: row;
}
.home .header .logo {
  display: inline-block;
  margin: 20px;
  padding-top: 10px;
}
.home .header .links {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 15%;
  padding-top: 10px;
}
.home .header .links ul {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home .header .links ul li {
  cursor: pointer;
}
.home .header .links ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .header .links ul li a span:nth-child(1) {
  color: white;
  font-family: "MicrosoftYaHei";
  display: inline-block;
  margin-bottom: 16px;
  position: relative;
  transition: all 600ms;
  transform: translateY(4px);
}
.home .header .links ul li a span:nth-child(1)::after {
  content: "";
  display: inline-block;
  width: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  position: absolute;
  background-color: #F39800;
  height: 1px;
  transition: all 600ms;
  display: none;
}
.home .header .links ul li a span:nth-child(2) {
  color: #666666;
  font-size: 12px;
  font-family: "gothambook";
  text-transform: uppercase;
  transition: all 600ms;
  transform: translateY(-4px);
}
.home .header .links ul li a:hover span:nth-child(1) {
  transform: translateY(0);
}
.home .header .links ul li a:hover span:nth-child(1)::after {
  display: block;
}
.home .header .links ul li a:hover span:nth-child(2) {
  transform: translateY(0);
  color: white;
}
.home .header .links ul .active a span:nth-child(1) {
  transform: translateY(0);
}
.home .header .links ul .active a span:nth-child(1)::after {
  display: block;
}
.home .header .links ul .active a span:nth-child(2) {
  transform: translateY(0);
  color: white;
}
.home .header .links .phone a {
  display: flex;
  flex-direction: column;
}
.home .header .links .phone a span:nth-child(1) {
  color: #F39800;
  font-size: 18px;
  font-family: "gothambook";
  font-weight: bolder;
}
.home .header .links .phone a span:nth-child(2) {
  color: #666666;
  font-size: 14px;
  font-family: "MicrosoftYaHei";
  display: inline-block;
  margin-top: 4px;
}
.home .activeHeader {
  background-color: black;
  transform: translateY(-10px);
}
.home .banner {
  width: 100%;
  position: relative;
  height: 100vh;
}
.home .banner .bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home .banner .bg img {
  width: 100%;
  display: block;
  object-fit: cover;
  animation: showBig 4s forwards linear;
}
@keyframes showBig {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
.home .banner .text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}
.home .banner .text .p1 {
  color: white;
  font-size: 48px;
  font-family: "FZCYSK--GBK1-0";
}
.home .banner .text .p2 {
  color: white;
  font-family: "FZCYSK--GBK1-0";
  margin-top: 20px;
  text-transform: uppercase;
  opacity: 0.5;
}
.home .banner .mouse {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home .banner .mouse::after {
  height: 54px;
  content: "";
  display: inline-block;
  border: 1px dashed white;
  margin-top: 10px;
}
.home .main {
  width: 100%;
}
.home .main div {
  opacity: 0;
  transition: all 600ms;
}
.home .main .show {
  opacity: 1;
}
.home .main .develop {
  width: 100%;
  margin: 80px auto;
  position: relative;
  padding: 100px 0;
}
.home .main .develop .title {
  text-align: center;
}
.home .main .develop .title p:nth-child(1) {
  color: #535353;
  font-size: 48px;
  font-family: "FZCYSK--GBK1-0";
}
.home .main .develop .title p:nth-child(2) {
  color: #888888;
  font-family: "FZCYSK--GBK1-0";
  margin-top: 30px;
}
.home .main .develop .des {
  color: #333333;
  font-size: 22px;
  font-family: "MicrosoftYaHei";
  line-height: 44px;
  margin: 60px auto;
  text-align: center;
  width: 50%;
}
.home .main .develop .allItems {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home .main .develop .allItems .item {
  margin: 0 2%;
  text-align: center;
}
.home .main .develop .allItems .item .pic {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .main .develop .allItems .item p {
  color: #333333;
  font-size: 22px;
  font-family: "MicrosoftYaHei";
  margin: 20px auto;
}
.home .main .develop .y1 {
  position: absolute;
  right: 0;
  top: 0;
  animation: run 2s infinite linear;
  z-index: -1;
}
.home .main .develop .y2 {
  position: absolute;
  left: 0;
  top: 0;
  animation: run 2s infinite linear;
  z-index: -1;
}
.home .main .develop .y3 {
  position: absolute;
  left: 5%;
  bottom: 0;
  animation: run 2s infinite linear;
  z-index: -1;
}
@keyframes run {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(15px, 15px);
  }
  75% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(1px, 1px);
  }
}
.home .main .need {
  width: 100%;
  background: url("../images/sbg2.png") no-repeat;
  background-size: cover;
  padding: 80px 0;
  height: 900px;
  padding-top: 120px;
}
.home .main .need .title {
  text-align: center;
  color: white;
  font-size: 48px;
  font-family: "FZCYSK--GBK1-0";
}
.home .main .need .content {
  width: 1152px;
  margin: 80px auto;
  position: relative;
  margin-top: 200px;
}
.home .main .need .content .c1 {
  width: 100%;
  text-align: center;
  margin-left: 10px;
}
.home .main .need .content .c1 img {
  width: 100%;
}
.home .main .need .content .c2 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.home .main .need .content .c2 img {
  animation: rotate 2s linear infinite;
}
.home .main .need .content .c3 {
  width: 280px;
  height: 280px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.home .main .idea {
  background-color: #FAFAFA;
  padding: 80px 0;
}
.home .main .idea .title {
  text-align: center;
}
.home .main .idea .title p:nth-child(1) {
  color: #535353;
  font-size: 48px;
  font-family: "FZCYSK--GBK1-0";
}
.home .main .idea .title p:nth-child(2) {
  color: #888888;
  font-size: 24px;
  font-family: "FZCYSK--GBK1-0";
  margin: 30px 0;
}
.home .main .idea .allItems {
  width: 60%;
  margin: 80px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home .main .idea .allItems .item {
  width: 23%;
  background-color: white;
  padding: 60px 0;
  text-align: center;
  border-radius: 20px;
  transition: all 600ms;
  margin-top: 30px;
}
.home .main .idea .allItems .item .pic {
  display: inline-block;
  position: relative;
}
.home .main .idea .allItems .item .pic img {
  transition: all 600ms;
  display: block;
}
.home .main .idea .allItems .item .pic img:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
}
.home .main .idea .allItems .item .p1 {
  color: #333333;
  font-size: 24px;
  font-family: "SOURCEHANSANSCN-MEDIUM";
  margin: 30px 0;
  transition: all 600ms;
}
.home .main .idea .allItems .item .des {
  color: #666666;
  line-height: 30px;
  width: 90%;
  margin: 0 auto;
  font-family: "SOURCEHANSANSCN-REGULAR";
  text-align: center;
}
.home .main .idea .allItems .item:hover {
  transform: translateY(-30px);
}
.home .main .idea .allItems .item:hover .pic img:nth-child(1) {
  opacity: 0;
}
.home .main .idea .allItems .item:hover .pic img:nth-child(2) {
  opacity: 1;
}
.home .main .idea .allItems .item:hover .p1 {
  color: #FF0808;
}
.home .main .partner {
  width: 100%;
  background-color: black;
  padding: 60px 0;
  position: relative;
}
.home .main .partner .cursor {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  height: 120px;
  width: 120px;
  transition: none;
  pointer-events: none;
  mix-blend-mode: exclusion;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.home .main .partner .cursor .inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.home .main .partner .cursor .circle {
  -webkit-transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  left: 0;
  top: 0;
  mix-blend-mode: exclusion;
  background: #fff;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  -webkit-transform: scale(0.15);
  transform: scale(0.15);
}
.home .main .partner .cursor .circle .cursor_text {
  display: block;
  font-size: 20px;
  color: white;
  opacity: 0;
}
.home .main .partner .is-active .inner .circle {
  background-color: white;
  opacity: 1;
  transform: scale(1);
}
.home .main .partner .title {
  text-align: center;
}
.home .main .partner .title p {
  color: white;
}
.home .main .partner .title p:nth-child(1) {
  font-size: 48px;
  font-family: "FZCYSK--GBK1-0";
}
.home .main .partner .title p:nth-child(2) {
  font-family: "FZCYSK--GBK1-0";
  font-size: 24px;
  margin-top: 20px;
}
.home .main .service {
  background-color: #FAFAFA;
  padding: 80px 0;
}
.home .main .service .title {
  text-align: center;
}
.home .main .service .title p:nth-child(1) {
  color: #535353;
  font-size: 48px;
  font-family: "FZCYSK--GBK1-0";
}
.home .main .service .title p:nth-child(2) {
  color: #888888;
  font-size: 24px;
  font-family: "FZCYSK--GBK1-0";
  margin: 30px 0;
}
.home .main .service .allItems {
  width: 60%;
  margin: 80px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home .main .service .allItems .item {
  width: 30%;
  background-color: white;
  text-align: center;
  transition: all 600ms;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  padding: 30px 0;
  margin-bottom: 60px;
  position: relative;
}
.home .main .service .allItems .item::after {
  content: "";
  display: inline-block;
  background-color: #FF0000;
  width: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 600ms;
  position: absolute;
}
.home .main .service .allItems .item:hover::after {
  width: 100%;
}
.home .main .service .allItems .item .p1 {
  font-size: 18px;
  font-family: "SOURCEHANSANSCN-REGULAR";
  margin: 20px auto;
}
.home .main .service .allItems .item .des {
  color: #666666;
  font-size: 14px;
  font-family: "MicrosoftYaHei";
  line-height: 28px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.home .foot {
  width: 90%;
  padding: 50px 5%;
  background-color: #121212;
}
.home .foot .d1 {
  text-align: center;
}
.home .foot .d1 p {
  color: #AAAAAA;
  font-size: 30px;
  font-family: "TimesNewRomanPSMT";
  margin-top: 20px;
}
.home .foot .d2 {
  padding: 40px 0;
  margin: 60px auto;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home .foot .d2 .item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home .foot .d2 .item .pic {
  width: 60px;
  height: 60px;
  background: #121212;
  border: 1px solid #888888;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .foot .d2 .item .text {
  margin-left: 20px;
}
.home .foot .d2 .item .text p {
  font-size: 14px;
  font-family: "MicrosoftYaHei";
}
.home .foot .d2 .item .text p:nth-child(1) {
  color: #888888;
}
.home .foot .d2 .item .text p:nth-child(2) {
  color: #666666;
}
.home .foot .d3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home .foot .d3 .l {
  color: #555555;
  font-size: 13px;
  font-family: "MicrosoftYaHei";
  line-height: 25px;
}
.home .foot .d3 .l a {
  color: #555555;
  font-size: 13px;
  font-family: "MicrosoftYaHei";
}
.home .foot .d3 .r {
  color: #AAAAAA;
  font-size: 13px;
  font-family: "MicrosoftYaHei";
}
@media screen and (max-width: 1440px) {
  .home .main {
    overflow: hidden;
  }
  .home .main .idea .allItems {
    width: 70%;
  }
}

/*# sourceMappingURL=sys.css.map */
