.home{
  width:100%;
  position: relative;
  .header{
    position: fixed;
    top:0;
    width:100%;
    left:0;
    z-index: 1000;
    display: flex;
    transition: all 600ms;
    flex-direction: row;
    .logo{
      display: inline-block;
      margin: 20px;
      padding-top: 10px;
    }
    .links{
      width:60%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 15%;
      padding-top: 10px;
      ul{
        width:75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li{
          cursor: pointer;
          a{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span:nth-child(1){
              color:white;
              font-family: 'MicrosoftYaHei';
              display: inline-block;
              margin-bottom: 16px;
              position: relative;
              transition: all 600ms;
              transform: translateY(4px);
              &::after{
                content:'';
                display: inline-block;
                width:10px;
                left:50%;
                transform: translateX(-50%);
                bottom:-8px;
                position: absolute;
                background-color: #F39800;
                height:1px;
                transition: all 600ms;
                display: none;
              }
            }
            span:nth-child(2){
              color:#666666;
              font-size: 12px;
              font-family: 'gothambook';
              text-transform: uppercase;
              transition: all 600ms;
              transform: translateY(-4px);
            }
            &:hover{
              span:nth-child(1){
                transform: translateY(0);
                &::after{
                 display: block;
                }
              }
              span:nth-child(2){
                transform: translateY(0);
                color:white;
              }
            }
          }
        }
        .active{
          a{
            span:nth-child(1){
              transform: translateY(0);
              &::after{
               display: block;
              }
            }
            span:nth-child(2){
              transform: translateY(0);
              color:white;
            }
          }
        }
      }
      .phone{
        a{
          display: flex;
          flex-direction: column;
          span:nth-child(1){
            color:#F39800;
            font-size: 18px;
            font-family: 'gothambook';
            font-weight: bolder;
          }
          span:nth-child(2){
            color:#666666;
            font-size: 14px;
            font-family: 'MicrosoftYaHei';
            display: inline-block;
            margin-top: 4px;
          }
        }
      }
    }
  }
  .activeHeader{
    background-color: rgba(0,0,0,1);
    transform: translateY(-10px);
  }
  .banner{
    width:100%;
    height:100vh;
    position: relative;
    .content{
      width:100%;
      height:100%;
      position: relative;
      #canvi{
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        pointer-events: none;
        z-index: -1;
      }
      .swiper-container{
        width:100%;
        height:100%;
        .swiper-wrapper{
          width:100%;
          height:100%;
          .swiper-slide{
            width:100%;
            .item{
              width:100%;
              position: relative;
              height:100%;
              img{
                display: block;
                object-fit: cover;
                height:100vh;
                width:100%;
                display: none;
              }
              .text{
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
                text-align: center;
                z-index: 1000;
                .t1{
                  font-family: 'HYQiHei-DZS';
                  font-size: 30px;
                  color:#F39800;
                  letter-spacing: 10px;
                  transition: all 600ms;
                  transform: translateY(20px);
                  opacity: 0;
                }
                .t2{
                  color:white;
                  font-size: 160px;
                  text-transform: uppercase;
                  font-family: 'JM-Exposition Plain-One';
                  letter-spacing: 20px;
                  margin: 10px auto;
                  transition: all 600ms;
                  transform: translateY(40px);
                  transition-delay: 100ms;
                  opacity: 0;
                }
                .t3{
                  color:white;
                  font-size: 36px;
                  font-family: 'FZCYSK--GBK1-0';
                  margin-top: 40px;
                  letter-spacing: 15px;
                  margin-bottom: 20px;
                  transition: all 600ms;
                  transform: translateY(60px);
                  opacity: 0;
                  transition-delay: 200ms;
                }
                .t4{
                  font-family: 'FZCYSK--GBK1-0';
                  color:white;
                  text-transform: uppercase;
                  letter-spacing: 10px;
                  opacity: .8;
                  transition: all 600ms;
                  transform: translateY(80px);
                  opacity: 0;
                  transition-delay: 300ms;
                }
              }
            }
          }
          .swiper-slide-active{
            .item{
              .text{  .t1,.t2,.t3,.t4{
                opacity: 1;
                transform: translateY(0);
              }

              }
            }
          }
        }
      }
    }
    .mouse{
      position: absolute;
      left:50%;
      bottom:0;
      transform: translateX(-50%);
      z-index: 1000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &::after{
        height:54px;
        content:'';
        display: inline-block;
        border: 1px dashed white;
        margin-top: 10px;
      }
    }
    .swiper-pagination{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right:5%;
      top:50%;
      transform: translateY(-50%);
      .swiper-pagination-bullet{
        width: 6px;
        height: 6px;
        background: #EEEEEE;
        border-radius: 50%;
        opacity: 1;
        position: relative;
        margin-bottom: 30px;
        &::before{
          width: 14px;
          height: 14px;
          background: #EEEEEE;
          transform: scale(0);
          border-radius: 50%;
          position: absolute;
          left:-4px;
          top:-4px;
          display: inline-block;
          content:'';
          transition: all 600ms;
          opacity: .2;
        }
      }
      .swiper-pagination-bullet-active{
      &::before{
        transform: scale(1);
      }
      }
    }
  }
  .main{
    width:100%;
    div {
      opacity: 0;
      transition: all 600ms;
      transform: translateY(20px);
    }

    .show {
      opacity: 1;
      transform: translateY(0);
    }
    .about{
      width:90%;
      padding: 0 5%;
      position: relative;
      display: flex;
      flex-direction: row;
      margin: 80px auto;
      align-items: center;
      .lpic{
        width:40%;
        cursor: pointer;
        overflow: hidden;
        img{
          width:100%;
          display: block;
          object-fit: cover;
          transition: all 600ms;
        }
        &:hover{
          img{
            transform: scale(1.05);
          }
        }
      }
      .intro{
        width:50%;
        display: flex;
        flex-direction: row;
        margin-left: 6%;
        align-items: center;
        .text{
          width:65%;
          .t1{
            span{
              color:#535353;
              font-size: 60px;
            }
            span:nth-child(1){
              font-family: 'FZCYSK--GBK1-0';
            }
            span:nth-child(2){
              font-weight: lighter;
            }
          }
          .t2{
            color:#888888;
            font-size: 24px;
            font-family: 'TimesNewRomanPSMT';
            text-transform: uppercase;
            position: relative;
            padding: 10px 0 30px 0;
            &::after{
              width: 20px;
              height: 1px;
              background: #E60012;
              content:'';
              display: inline-block;
              position: absolute;
              left:0;
              bottom:0;
            }
          }
          .des{
            margin-top: 30px;
            color:#888888;
            font-family: 'MicrosoftYaHei';
            line-height: 36px;
          }
        }
        .num{
          width:33%;
          margin-left:2% ;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .item{
            text-align: center;
            margin: 20px 0;
            .nums{
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              p{
                font-size: 72px;
                font-family: 'TimesNewRomanPSMT';
              }
              span{
                color:#AAAAAA;
                font-size: 30px;
                font-family: 'TimesNewRomanPSMT';
                transform: translateY(-10px);
              }
            }
            .st{
              color:#AAAAAA;
              font-family: 'MicrosoftYaHei';
              margin-top: 5px;
            }
          }
          .item:nth-of-type(2){
            .nums{
              p,span{
                color:#D20010;
              }
            }
          }
        }
      }
      .bg{
        position: absolute;
        right:0;
        top:0;
        img{
          width:100%;
          height: 100%;
        }
      }
    }
    .fiveIcon{
       width:100%;
       background: url("../images/liBg.jpg") no-repeat;
      background-size:cover;
      height:870px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      .waves{
        position: absolute;
        left:0;
        bottom:0;
        width:100%;
        height:80%;
        z-index: 1000;
        pointer-events: none;
      }
      .item{
        width:20%;
        height:100%;
        position: relative;
        cursor: pointer;
        transition: all 600ms;
        text-align: center;
        .spic{
          position: absolute;
          left:0;
          top:10%;
          width:100%;
          text-align: center;
          opacity: 0;
          transition: all 600ms;
          img{
            max-width: 90%;
            object-fit: contain;
          }
        }
        .nr{
          width:100%;
          position: absolute;
          left:0;
          top:50%;
          transform: translateY(-40%);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .pic{
            img{
              opacity: .5;
              transition: all 600ms;
            }
          }
          .t1{
            color:white;
            font-size: 30px;
            font-family: '方正粗雅宋_GBK';
            margin-top:40px;
          }
          .t2{
            color:white;
            font-family: 'TimesNewRomanPSMT';
            opacity: .3;
            text-transform: uppercase;
            margin-top: 5px;
          }
          .t3{
            color:white;
            font-family: 'MicrosoftYaHei';
            line-height: 36px;
            margin-top: 60px;
            opacity: 0;
            transform: translateY(30px);
            transition: all 600ms;
            text-align: center;
          }
        }
        &:hover{
          background-color: #E60012;
          .spic{
            opacity: 1;
          }
          .nr{
            .pic{
              img{
                opacity: 1;
              }
            }
            .t3{
              transform: translateY(0);
              opacity: 1;
            }
          }
        }
      }
    }
    .cases{
      width:90%;
      margin: 80px auto;
      .t1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        span{
          color:#535353;
          font-size: 60px;
          font-family: 'FZCYSK--GBK1-0';
        }
        span:nth-child(2){
          font-weight: lighter;
          text-transform: uppercase;
          font-family: 'TimesNewRomanPSMT';
        }
      }
      .t2{
        color:#888888;
        font-size: 24px;
        text-align: center;
        font-family: 'HYQiHei-DZS';
        margin-top: 10px;
      }
      .allItems{
        width:100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 30px;
        .item{
          width:30%;
         margin-right:2.5%;
          margin-top: 40px;
          cursor: pointer;
          position: relative;
          .pic{
            overflow: hidden;
            position: relative;
            .content{
              position: absolute;
              left:0;
              top:0;
              width:100%;
              height:100%;
              background-color: #D20010;
              transition: all 600ms;
              opacity: 0;
              .nr{
                width:95%;
                height:91%;
                margin: 2.5% auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid white;
                .p1{
                  font-size: 36px;
                  color:white;
                  font-family: '方正粗雅宋_GBK';
                }
                .p2{
                  color:white;
                  font-family: 'MicrosoftYaHei';
                  margin: 10px 0 30px 0;
                }
                .jt{
                  width: 120px;
                  height: 40px;
                  border: 1px solid #FFFFFF;
                  text-align: center;
                  line-height: 35px;
                  img{
                    transition: all 600ms;
                    transition-delay: 300ms;
                  }
                }
              }
            }
            .pic1{
              width:100%;
              display: block;
              object-fit: cover;
              transition: all 600ms;
            }
            &:hover{
              .content{
                opacity: .9;
                .nr{
                  .jt{
                    img{
                      transform: translateX(10px);
                    }
                  }
                }
              }
            }
          }
          .title{
            color:#333333;
            font-size: 18px;
            font-family: 'MicrosoftYaHei';
            margin: 30px 2.5% 10px 2.5%;
            width:95%;
          }
          .des{
            width:95%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .st{
              color:#666666;
              font-size: 14px;
            }
          }
        }
      }
      .more{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 80px auto;
        .a1{
          width: 300px;
          height: 70px;
          background: #D20010;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          color:white;
          font-size: 28px;
          font-family: '方正粗雅宋_GBK';
          div{
            transform: translateY(-5px);
            margin-left: 30px;
          }
        }
        .a2{
          width: 550px;
          height: 66px;
          background: #FFFFFF;
          border: 2px solid #D20010;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-left: 10px;
          span:nth-of-type(1){
            color:#D20010;
            font-size: 36px;
            font-family: 'TimesNewRomanPSMT';
            font-weight: bolder;
            display: inline-block;
            margin: 0 20px;
          }
          span:nth-of-type(2){
            color:#333333;
            font-size: 28px;
            font-family: '方正粗雅宋_GBK';
            font-weight: bolder;
          }
        }
      }
    }
    .news{
      width:100%;
      background: url("../images/nbg.png") no-repeat;
      background-size: cover;
      padding: 80px 0;
      padding-bottom: 0;
      .t1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        span{
          color:#535353;
          font-size: 60px;
          font-family: 'FZCYSK--GBK1-0';
        }
        span:nth-child(2){
          font-weight: lighter;
          text-transform: uppercase;
          font-family: 'TimesNewRomanPSMT';
        }
      }
      .t2{
        color:#888888;
        font-size: 24px;
        text-align: center;
        font-family: 'HYQiHei-DZS';
        margin-top: 10px;
      }
      .nr{
        width:90%;
        margin: 60px auto;
        display: flex;
        flex-direction: row;
        border: {
          top:1px solid #DDDDDD;
          bottom:1px solid #DDDDDD;
        };
        .l{
          width:42%;
          padding-right: 3%;
          padding-top: 40px;
          .pic{
            overflow: hidden;
            cursor: pointer;
            img{
              width:100%;
              display: block;
              object-fit: cover;
              transition: all 600ms;
            }
            &:hover{
              img{
                transform: scale(1.05);
              }
            }
          }
          .text{
            .p1{
              color:#333333;
              font-size: 24px;
              font-family: 'SOURCEHANSANSCN-REGULAR';
              margin-top: 20px;
            }
            .p2{
              color:#888888;
              line-height: 30px;
              font-family: 'MicrosoftYaHei';
              margin: 10px 0 20px 0;
            }
            .time{
              color:#333333;
              font-family: 'MicrosoftYaHei';
            }
          }
        }
        .r{
          width:55%;
          border-left: 1px solid #DDDDDD;
          .item{
            width:80%;
            padding: 20px 10%;
            border-bottom: 1px solid #DDDDDD;
            padding-bottom: 40px;
            cursor: pointer;
            .time{
              color:#888888;
              margin-top: 30px;
              font-family: 'MicrosoftYaHei';
            }
            .st{
              color:#333333;
              font-size: 24px;
              font-family: 'SOURCEHANSANSCN-REGULAR';
              margin: 30px 0 10px 0;
              transition: all 600ms;
            }
            .des{
              color:#888888;
              line-height: 25px;
              font-family: 'MicrosoftYaHei';
            }
            .more{
              display: flex;
              flex-direction: row;
              align-items: center;
              width: 170px;
              height: 44px;
              border: 1px solid #888888;
              justify-content: center;
              cursor: pointer;
              color:#333333;
              font-size: 14px;
              font-family: 'TimesNewRomanPSMT';
              text-transform: uppercase;
              margin-top: 40px;
              transition: all 600ms;
              div{
                position: relative;
                margin-left: 20px;
                img:nth-child(1){
                  position: absolute;
                  left:0;
                  top:0;
                  opacity: 1;
                  transition: all 600ms;
                  width:100%;
                  height:100%;
                  display: block;
                  object-fit: contain;
                }
                img:nth-child(2){
                  display: block;
                  object-fit: contain;
                  transition: all 600ms;
                  opacity: 0;
                }
              }
              &:hover{
                border-color: #D20010;
                color:#D20010;
                div{
                  img:nth-child(1){
                    opacity: 0;
                  }
                  img:nth-child(2){
                    opacity: 1;
                  }
                }
              }
            }
            &:hover{
              .st{
                color:#D20010;
              }
            }
          }
        }
      }
    }
    .partner{
      width:90%;
      margin: 80px auto;
      .t1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        span{
          color:#535353;
          font-size: 60px;
          font-family: 'FZCYSK--GBK1-0';
        }
        span:nth-child(2){
          font-weight: lighter;
          text-transform: uppercase;
          font-family: 'TimesNewRomanPSMT';
        }
      }
      .t2{
        color:#888888;
        font-size: 24px;
        text-align: center;
        font-family: 'HYQiHei-DZS';
        margin-top: 10px;
      }
      .allImgs{
        width:100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 80px auto;
        .item{
          border: 1px solid #EEEEEE;
          width:14%;
          text-align: center;
          padding: 20px 0;
          cursor: pointer;
          img{
            max-width: 100%;
            object-fit: contain;
            transition: all 600ms;
          }
          &:hover{
            img{
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
  .foot{
    width:90%;
    padding: 50px 5%;
    background-color: #121212;
    .d1{
      text-align: center;
      p{
        color:#AAAAAA;
        font-size: 30px;
        font-family: 'TimesNewRomanPSMT';
        margin-top: 20px;
      }
    }
    .d2{
      padding: 40px 0;
      margin: 60px auto;
      border: {
        top:1px solid rgba(255,255,255,.2);
        bottom:1px solid rgba(255,255,255,.2);
      };
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .item{
        display: flex;
        flex-direction: row;
        align-items: center;
        .pic{
          width: 60px;
          height: 60px;
          background: #121212;
          border: 1px solid #888888;
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .text{
          margin-left: 20px;
          p{
            font-size: 14px;
            font-family: 'MicrosoftYaHei';
          }
          p:nth-child(1){
            color:#888888;
          }
          p:nth-child(2){
            color:#666666;
          }
        }
      }
    }
    .d3{
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .l{
        color:#555555;
        font-size: 13px;
        font-family: 'MicrosoftYaHei';
        line-height: 25px;
        a{
          color:#555555;
          font-size: 13px;
          font-family: 'MicrosoftYaHei';
        }
      }
      .r{
        font-size: 13px;
        font-family: 'MicrosoftYaHei';
        a{
          color:#AAAAAA;
        }
      }
    }
  }
}
