.home{
  width:100%;
  position: relative;
  .header{
    position: fixed;
    top:0;
    width:100%;
    left:0;
    z-index: 1000;
    display: flex;
    transition: all 600ms;
    flex-direction: row;
    .logo{
      display: inline-block;
      margin: 20px;
      padding-top: 10px;
    }
    .links{
      width:60%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 15%;
      padding-top: 10px;
      ul{
        width:75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li{
          cursor: pointer;
          a{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span:nth-child(1){
              color:white;
              font-family: 'MicrosoftYaHei';
              display: inline-block;
              margin-bottom: 16px;
              position: relative;
              transition: all 600ms;
              transform: translateY(4px);
              &::after{
                content:'';
                display: inline-block;
                width:10px;
                left:50%;
                transform: translateX(-50%);
                bottom:-8px;
                position: absolute;
                background-color: #F39800;
                height:1px;
                transition: all 600ms;
                display: none;
              }
            }
            span:nth-child(2){
              color:#666666;
              font-size: 12px;
              font-family: 'gothambook';
              text-transform: uppercase;
              transition: all 600ms;
              transform: translateY(-4px);
            }
            &:hover{
              span:nth-child(1){
                transform: translateY(0);
                &::after{
                 display: block;
                }
              }
              span:nth-child(2){
                transform: translateY(0);
                color:white;
              }
            }
          }
        }
        .active{
          a{
            span:nth-child(1){
              transform: translateY(0);
              &::after{
               display: block;
              }
            }
            span:nth-child(2){
              transform: translateY(0);
              color:white;
            }
          }
        }
      }
      .phone{
        a{
          display: flex;
          flex-direction: column;
          span:nth-child(1){
            color:#F39800;
            font-size: 18px;
            font-family: 'gothambook';
            font-weight: bolder;
          }
          span:nth-child(2){
            color:#666666;
            font-size: 14px;
            font-family: 'MicrosoftYaHei';
            display: inline-block;
            margin-top: 4px;
          }
        }
      }
    }
  }
  .activeHeader{
    background-color: rgba(0,0,0,1);
    transform: translateY(-10px);
  }
  .banner{
    width:100%;
    height:128px;
    background-color: black;
  }
  .main{
    width:70%;
    margin: 80px auto;
    .title{
      color:#333333;
      font-size: 36px;
      font-family: 'SOURCEHANSANSCN-REGULAR';
      margin:30px 0;
    }
    .time{
      color:#9E9E9E;
      font-size: 18px;
      font-family: 'gothambook';
    }
    .html{
         padding: 40px 0;
      margin: 40px auto;
      border: {
        top:1px solid #E4E4E4;
        bottom:1px solid #E4E4E4;
      };
      color:#333333;
      font-size: 18px;
      font-family: 'SOURCEHANSANSCN-REGULAR';
      line-height: 36px;
    }
    .pager{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a{
        color:#666666;
        font-family: 'SOURCEHANSANSCN-REGULAR';
        display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;
        transition: all 600ms;
        &:hover{
          color:#8C111B;
        }
      }
    }
  }
  .foot{
    width:90%;
    padding: 50px 5%;
    background-color: #121212;
    .d1{
      text-align: center;
      p{
        color:#AAAAAA;
        font-size: 30px;
        font-family: 'TimesNewRomanPSMT';
        margin-top: 20px;
      }
    }
    .d2{
      padding: 40px 0;
      margin: 60px auto;
      border: {
        top:1px solid rgba(255,255,255,.2);
        bottom:1px solid rgba(255,255,255,.2);
      };
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .item{
        display: flex;
        flex-direction: row;
        align-items: center;
        .pic{
          width: 60px;
          height: 60px;
          background: #121212;
          border: 1px solid #888888;
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .text{
          margin-left: 20px;
          p{
            font-size: 14px;
            font-family: 'MicrosoftYaHei';
          }
          p:nth-child(1){
            color:#888888;
          }
          p:nth-child(2){
            color:#666666;
          }
        }
      }
    }
    .d3{
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .l{
        color:#555555;
        font-size: 13px;
        font-family: 'MicrosoftYaHei';
        line-height: 25px;
        a{
          color:#555555;
          font-size: 13px;
          font-family: 'MicrosoftYaHei';
        }
      }
      .r{
        color:#AAAAAA;
        font-size: 13px;
        font-family: 'MicrosoftYaHei';
      }
    }
  }
}
