.home{
  width:100%;
  position: relative;
  .header{
    position: fixed;
    top:0;
    width:100%;
    left:0;
    z-index: 1000;
    display: flex;
    transition: all 600ms;
    flex-direction: row;
    .logo{
      display: inline-block;
      margin: 20px;
      padding-top: 10px;
    }
    .links{
      width:60%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 15%;
      padding-top: 10px;
      ul{
        width:75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li{
          cursor: pointer;
          a{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span:nth-child(1){
              color:white;
              font-family: 'MicrosoftYaHei';
              display: inline-block;
              margin-bottom: 16px;
              position: relative;
              transition: all 600ms;
              transform: translateY(4px);
              &::after{
                content:'';
                display: inline-block;
                width:10px;
                left:50%;
                transform: translateX(-50%);
                bottom:-8px;
                position: absolute;
                background-color: #F39800;
                height:1px;
                transition: all 600ms;
                display: none;
              }
            }
            span:nth-child(2){
              color:#666666;
              font-size: 12px;
              font-family: 'gothambook';
              text-transform: uppercase;
              transition: all 600ms;
              transform: translateY(-4px);
            }
            &:hover{
              span:nth-child(1){
                transform: translateY(0);
                &::after{
                 display: block;
                }
              }
              span:nth-child(2){
                transform: translateY(0);
                color:white;
              }
            }
          }
        }
        .active{
          a{
            span:nth-child(1){
              transform: translateY(0);
              &::after{
               display: block;
              }
            }
            span:nth-child(2){
              transform: translateY(0);
              color:white;
            }
          }
        }
      }
      .phone{
        a{
          display: flex;
          flex-direction: column;
          span:nth-child(1){
            color:#F39800;
            font-size: 18px;
            font-family: 'gothambook';
            font-weight: bolder;
          }
          span:nth-child(2){
            color:#666666;
            font-size: 14px;
            font-family: 'MicrosoftYaHei';
            display: inline-block;
            margin-top: 4px;
          }
        }
      }
    }
  }
  .activeHeader{
    background-color: rgba(0,0,0,1);
    transform: translateY(-10px);
  }
  .banner{
    width:100%;
    position: relative;
    height:100vh;
    .bg{
      width:100%;
      height:100%;
      overflow: hidden;
      img{
        width:100%;
        display: block;
        object-fit: cover;
       height:100%;
      }
    }
    .text{
      position: absolute;
      left:0;
      top:50%;
      width:100%;
      text-align: center;
      .p1{
        color:white;
        font-size: 48px;
        font-family: 'FZCYSK--GBK1-0';
      }
      .p2{
        color:white;
        font-family: 'FZCYSK--GBK1-0';
        margin-top: 20px;
        text-transform: uppercase;
        opacity: .5;
      }
    }
    .mouse{
      position: absolute;
      left:50%;
      bottom:0;
      transform: translateX(-50%);
      z-index: 1000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &::after{
        height:54px;
        content:'';
        display: inline-block;
        border: 1px dashed white;
        margin-top: 10px;
      }
    }
  }
  .main{
    width:100%;
    div {
      opacity: 0;
      transition: all 600ms;
    }

    .show {
      opacity: 1;
    }
    .develop{
      width:100%;
      margin: 80px auto;
      position: relative;
      padding: 100px 0;
      .title{
        text-align: center;
        p:nth-child(1){
          color:#535353;
          font-size: 48px;
          font-family: 'FZCYSK--GBK1-0';
        }
        p:nth-child(2){
          color:#888888;
          font-family: 'FZCYSK--GBK1-0';
          margin-top: 30px;
        }
      }
      .des{
        color:#333333;
        font-size: 22px;
        font-family: 'MicrosoftYaHei';
        line-height: 44px;
        margin: 60px auto;
        text-align: center;
        width:50%;
      }
      .allItems{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .item{
          margin: 0 2%;
          text-align: center;
          .pic{
            height: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          p{
            color:#333333;
            font-size: 22px;
            font-family: 'MicrosoftYaHei';
            margin: 20px auto;
          }
        }
      }
      .y1{
        position: absolute;
        right:0;
        top:0;
        animation: run 2s infinite linear;
        z-index: -1;
      }
      .y2{
        position: absolute;
        left:0;
        top:0;
        animation: run 2s infinite linear;
        z-index: -1;
      }
      .y3{
        position: absolute;
        left:5%;
        bottom:0;
        animation: run 2s infinite linear;
        z-index: -1;
      }
      @keyframes run {
        0%{
          transform: translate(0,0);
        }
        25%{
          transform: translate(10px,10px);
        }
        50%{
          transform: translate(15px,15px);
        }
        75%{
          transform: translate(10px,10px);
        }
        100%{
          transform: translate(1px,1px);
        }
      }
    }
    .need{
      width:100%;
      background: url("../images/sbg2.png") no-repeat;
      background-size: cover;
      padding: 80px 0;
      height:900px;
      padding-top: 120px;
      .title{
        text-align: center;
        color:white;
        font-size: 48px;
        font-family: 'FZCYSK--GBK1-0';
      }
      .content{
        width:60%;
        margin: 80px auto;
        position: relative;
        margin-top: 200px;
        .c1{
          width:100%;
          text-align: center;
          img{
            max-width: 100%;
            object-fit: contain;
          }
        }
        .c2{
          position: absolute;
          left:0;
          top:50%;
          transform: translateY(-50%);
          width:100%;
          text-align: center;
          img{
            animation: rotate 2s linear infinite;
          }
        }
        .c3{
          width:280px;
          height:280px;
          background-color: white;
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          left:50%;
          top:50%;
          transform: translate(-50%,-50%);
        }
        @keyframes rotate {
          from{
            transform: rotate(0) ;
          }
          to{
            transform: rotate(360deg);
          }
        }
      }
    }
    .idea{
      background-color: #FAFAFA;
      padding: 80px 0;
      .title{
        text-align: center;
        p:nth-child(1){
          color:#535353;
          font-size: 48px;
          font-family: 'FZCYSK--GBK1-0';
        }
        p:nth-child(2){
          color:#888888;
          font-size: 24px;
          font-family: 'FZCYSK--GBK1-0';
          margin: 30px 0;
        }
      }
      .allItems{
        width:60%;
        margin: 80px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .item{
          width: 23%;
          background-color: white;
          padding: 60px 0;
          text-align: center;
          border-radius: 20px;
          transition: all 600ms;
          margin-top: 30px;
          .pic{
            display: inline-block;
            position: relative;
            img{
              transition: all 600ms;
              display: block;
            }
            img:nth-child(2){
              position: absolute;
              left:0;
              top:0;
              width:100%;
              height:100%;
              object-fit: contain;
              opacity: 0;
            }
          }
          .p1{
            color:#333333;
            font-size: 24px;
            font-family: 'SOURCEHANSANSCN-MEDIUM';
            margin: 30px 0;
            transition: all 600ms;
          }
          .des{
            color:#666666;
            line-height:30px;
            width:90%;
            margin: 0 auto;
            font-family: 'SOURCEHANSANSCN-REGULAR';
            text-align: center;
          }
          &:hover{
            transform: translateY(-30px);
            .pic{
              img:nth-child(1){
                opacity: 0;
              }
              img:nth-child(2){
                opacity: 1;
              }
            }
            .p1{
              color:#FF0808;
            }
          }
        }
      }
    }
    .partner{
      width:100%;
      background-color: black;
      padding: 60px 0;
      position: relative;
      .cursor {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        pointer-events: none;
        z-index: 1000;
        height: 120px;
        width: 120px;
        transition: none;
        pointer-events: none;
        mix-blend-mode: exclusion;
        -webkit-transform-origin: center center;
        transform-origin: center center;
        .inner {
          width: 100%;
          height: 100%;
          position: relative;
        }
        .circle {
          -webkit-transition: transform .3s ease-in-out;
          -webkit-transition: -webkit-transform .3s ease-in-out;
          transition: -webkit-transform .3s ease-in-out;
          transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          display: block;
          left: 0;
          top: 0;
          mix-blend-mode: exclusion;
          background: #fff;
          width: 80px;
          height: 80px;
          border-radius: 80px;
          -webkit-transform: scale(.15);
          transform: scale(.15);
          .cursor_text {
            display: block;
            font-size: 20px;
            color: white;
            opacity: 0;
          }
        }
      }
      .is-active {
        .inner {
          .circle {
            background-color: rgba(255,255,255,1);
            opacity: 1;
            transform: scale(1);
          }
        }
      }
      .title{
        text-align: center;
        p{
          color:white;
        }
        p:nth-child(1){
          font-size: 48px;
          font-family: 'FZCYSK--GBK1-0';
        }
        p:nth-child(2){
          font-family: 'FZCYSK--GBK1-0';
          font-size: 24px;
          margin-top: 20px;
        }
      }
    }
    .service{
      background-color: #FAFAFA;
      padding: 80px 0;
      .title{
        text-align: center;
        p:nth-child(1){
          color:#535353;
          font-size: 48px;
          font-family: 'FZCYSK--GBK1-0';
        }
        p:nth-child(2){
          color:#888888;
          font-size: 24px;
          font-family: 'FZCYSK--GBK1-0';
          margin: 30px 0;
        }
      }
      .allItems{
        width:60%;
        margin: 80px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .item{
          width: 30%;
          background-color: white;
          text-align: center;
          transition: all 600ms;
          box-shadow: rgba(0,0,0,.2) 0px 0px 10px;
          padding: 30px 0;
          margin-bottom: 60px;
          position: relative;
          &::after{
            content:'';
            display: inline-block;
            background-color: #FF0000;
            width:0;
            bottom:0;
            left:0;
            height:2px;
            transition: all 600ms;
            position: absolute;
          }
          &:hover{
            &::after{
              width:100%;
            }
          }
          .p1{
            font-size: 18px;
            font-family: 'SOURCEHANSANSCN-REGULAR';
            margin: 20px auto;
          }
          .des{
            color:#666666;
            font-size: 14px;
            font-family: 'MicrosoftYaHei';
            line-height: 28px;
            width:90%;
            margin: 0 auto;
            text-align: center;
          }
        }
      }
    }
  }
  .foot{
    width:90%;
    padding: 50px 5%;
    background-color: #121212;
    .d1{
      text-align: center;
      p{
        color:#AAAAAA;
        font-size: 30px;
        font-family: 'TimesNewRomanPSMT';
        margin-top: 20px;
      }
    }
    .d2{
      padding: 40px 0;
      margin: 60px auto;
      border: {
        top:1px solid rgba(255,255,255,.2);
        bottom:1px solid rgba(255,255,255,.2);
      };
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .item{
        display: flex;
        flex-direction: row;
        align-items: center;
        .pic{
          width: 60px;
          height: 60px;
          background: #121212;
          border: 1px solid #888888;
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .text{
          margin-left: 20px;
          p{
            font-size: 14px;
            font-family: 'MicrosoftYaHei';
          }
          p:nth-child(1){
            color:#888888;
          }
          p:nth-child(2){
            color:#666666;
          }
        }
      }
    }
    .d3{
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .l{
        color:#555555;
        font-size: 13px;
        font-family: 'MicrosoftYaHei';
        line-height: 25px;
        a{
          color:#555555;
          font-size: 13px;
          font-family: 'MicrosoftYaHei';
        }
      }
      .r{
        color:#AAAAAA;
        font-size: 13px;
        font-family: 'MicrosoftYaHei';
      }
    }
  }
  @media screen and (max-width: 1440px){
    .main{
      overflow: hidden;
      .idea{
        .allItems{
          width:70%;
        }
      }
    }
  }
}
