
@font-face {
    font-family: 'HYQiHei-DZS';
    src:url("./HYQiHei-40S.otf");
}

@font-face {
    font-family: 'JM-Exposition Plain-One';
    src:url("./JM-Exposition Plain-One.ttf");
}

@font-face {
    font-family: 'FZCYSK--GBK1-0';
    src:url("FZCYSK--GBK1-0.TTF");
}

@font-face {
    font-family: 'TimesNewRomanPSMT';
    src:url("./TimesNewRomanPSMT.otf");
}

@font-face {
    font-family: 'MicrosoftYaHei';
    src:url("./MicrosoftYaHei.ttf");
}

@font-face {
    font-family: 'gothambook';
    src:url("./gothambook.otf");
}

@font-face {
    font-family: 'SOURCEHANSANSCN-REGULAR';
    src:url("./SOURCEHANSANSCN-REGULAR.OTF");
}

@font-face {
    font-family: 'SOURCEHANSANSCN-HEAVY';
    src:url("./SOURCEHANSANSCN-HEAVY.OTF");
}


@font-face {
    font-family: 'SOURCEHANSANSCN-MEDIUM';
    src:url("./SOURCEHANSANSCN-MEDIUM.OTF");
}

@font-face {
    font-family: 'Impact';
    src:url("./Impact.ttf");
}
